#Dia 3
## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de datos
Las estructuras de datos son formas de organizar informacion para trabajar con ella de forma eficiente.
- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave: valor

Nota:
- Pilas (FILO -> first in last out)
- Colas (FIFO -> first in first out)
- Listas enlazadas ( o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [ ]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso","jamon"]
print(lista_de_compras[6])

jamon

In [ ]:
print(lista_de_compras[6])

jamon

In [ ]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Agregar un elemento en una posicion especifica
lista_de_compras.insert(1, "platano")
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
lista_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elemento
lista_de_compras.pop(7) # O puedes agarrar la posicion que quieras (pero iniciando desde 0)
# Nota: te retorna el numero eliminado

'jamon'

In [ ]:
# Podemos recorrer el arreglo por medio de un for
for elemento in lista_de_compras:
    print(elemento)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [ ]:
# len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
    print(f"{i+1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [ ]:
promedios = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)
promedios.sort(reverse=True) # reverse=True sirve para ordenar la lista de manera descendente
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [ ]:
# Podemos ingresar  al ultimo elemento de una lista
print(promedios[-1])

23.6

In [ ]:
# Encontrar el mayor y menor elemento de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [ ]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
print(calificaciones)
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j}: {cali_j}")
    j += 1
  j=0
  i += 1

[[100, 88, 93], [99, 56, 72]]

Alumno 1
Cali 1: 100
Cali 2: 88
Cali 3: 93

Alumno 2
Cali 1: 99
Cali 2: 56
Cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables

In [ ]:
# Hagamos una donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05", "22/03/02", "17/04/04", "25/02/04")
# ES INMUTABLE
fechas.append("10/06/03")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista =  list(fechas) # Aqui ya puedes usar los comandos basicos de una lista
print(fecha_lista)

['10/10/05', '22/03/02', '17/04/04', '25/02/04']

## SETS
Los sets son colecciones sin orden que no permiten elementos duplicados

In [ ]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Juan', 'Eliud', 'Angel', 'Diana'}
<class 'set'>

In [ ]:
distintos_datos = {"Angel", 1, "Diana", "Juan", "Juan", 4.8}
print(distintos_datos)

{'Juan', 1, 'Diana', 4.8, 'Angel'}

In [ ]:
# Add
nombre.add("Leonardo")
print(nombre)

{'Juan', 'Diana', 'Leonardo', 'Angel', 'Eliud'}

In [ ]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [ ]:
# Union
matutino = {20322, 22183, 818382, 1983989}
vespertino = {20322, 111111, 222222, 333333}
# Union pero con .union
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 22183, 111111, 818382, 222222, 1983989, 333333}
{20322, 22183, 111111, 818382, 222222, 1983989, 333333}

In [ ]:
# Interseccion
ca = {1234,121,646,87383,838238,283823}
al = {1234,111,222,33,444}
#interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# interseccion con &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [ ]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
#Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{646, 283823, 87383, 121, 838238}
{646, 283823, 87383, 121, 838238}

In [ ]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
#remove, pop
nombre.remove("Juan") # Puedes eliminar cual tu quieras
print(nombre)
nombre.pop() # Elimina un elemento de manera aleatoria
print(nombre)

{'Eliud', 'Angel', 'Diana'}
{'Angel', 'Diana'}

In [ ]:
# Elimina todo el SET
nombre.clear()
nombre

set()

## Diccionarios
Los diccionaros son colecciones no ordenadas de pares clave: valor

In [2]:
alumno = {
    #clave  valor
    "nombre": "Ernesto Hernández",
    "edad": 17,
    "carrera": "IAE",
    "semestre": 1,
    "promedio": 97.3,
    "calificaciones": [100,94,94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Ernesto Hernández',
 'edad': 17,
 'carrera': 'IAE',
 'semestre': 1,
 'promedio': 97.3,
 'calificaciones': [100, 94, 94, 97, 100]}

In [8]:
print("El alumno", alumno["nombre"], "esta estudiando", alumno["carrera"])

El alumno Ernesto Hernández esta estudiando IAE

In [11]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de datos"
alumno

{'nombre': 'Ernesto Hernández',
 'edad': 17,
 'carrera': 'IAE',
 'semestre': 1,
 'promedio': 97.3,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de datos'}

In [13]:
for valor in alumno:
  print(alumno[valor])

Ernesto Hernández
17
IAE
1
97.3
[100, 94, 94, 97, 100]
Ciencia de datos

In [14]:
for clave, valor in alumno.items():
    # devuelve una lista de todos los pares clave: valor del diccionario
  print(clave, valor)

nombre Ernesto Hernández
edad 17
carrera IAE
semestre 1
promedio 97.3
calificaciones [100, 94, 94, 97, 100]
area preferida Ciencia de datos

In [15]:
# El metodo .clear() tambien usar aqui
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Ernesto Hernández

In [16]:
alumno_1 = alumno.items()
print(alumno_1)
print (type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Ernesto Hernández'), ('edad', 17), ('carrera', 'IAE'), ('semestre', 1), ('promedio', 97.3), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de datos')])
<class 'dict_items'>
[('nombre', 'Ernesto Hernández'), ('edad', 17), ('carrera', 'IAE'), ('semestre', 1), ('promedio', 97.3), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de datos')]
<class 'list'>

In [17]:
# El metodo .values() sirve para obtener los values del diccionario, tambien se puede usar en la interaccion
alumno_v = alumno.values()
print(alumno_v)

dict_values(['Ernesto Hernández', 17, 'IAE', 1, 97.3, [100, 94, 94, 97, 100], 'Ciencia de datos'])

In [18]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")
if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [19]:
# .copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"semestre": 2})
print(alumno)

{'nombre': 'Ernesto Hernández', 'edad': 17, 'carrera': 'IAE', 'semestre': 2, 'promedio': 97.3, 'calificaciones': [100, 94, 94, 97, 100], 'area preferida': 'Ciencia de datos'}

In [25]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario:producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
  msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
  info = inventario[p]
  print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()
if compra in inventario and inventario[compra]["stock"] > 0:
  inventario[compra]["stock"] -= 1
  print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
  print("Producto no disponible.")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $5 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $15 - Stock: 10 -> OFERTA!!!

¿Qué producto quieres comprar? pan
Compraste 1 pan. Stock restante: 9